[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/logforw
ExecStart=/usr/local/bin/logforw -l /var/log/logforw/logforw.log -s $DELAY -p $PATTERN $PATH
KillMode=process
Restart=on-failure
RestartSec=30s
